.clusterLabel {
    position: absolute;
    transform: translate(-50%, -50%);
    font-variant: small-caps;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.whiteShadow {
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white,
        1px -1px 1px white;
}

.blackShadow {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
        1px -1px 1px black;
}

.sigma-hovers {
    z-index: 4;
}

.sigma-mouse {
    z-index: 4;
}

.sigma-hoverNodes {
    z-index: 4;
}

.sigma-hoverLabels {
    z-index: 4;
}

.sigma-labels {
    z-index: 2;
}

.sigma-edges {
    z-index: 1;
}

.sigma-edgeLabels {
    z-index: 1;
}

.sigma-nodes {
    z-index: 1;
}